# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.rename(columns={"st": "state"}, inplace=True)
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. 

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [4]:
df["gender"] = df["gender"].astype(str).apply(lambda x: "M" if x[0].lower() == "m" else "F")
df["state"] = df["state"].astype(str).replace({"az": "arizona", "wa": "washington"})
df["education"] = df["education"].replace({"Bachelors": "Bachelor"})
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%", "")
df["vehicle_class"] = df["vehicle_class"].apply(lambda x: "Luxury" if x in ["Sports Car", "Luxury SUV", "Luxury Car"] else x)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has a wrong format, look at the diffrent values it takes with unique() and take the middle value, for example 1/5/00 should be 5. Number of open complaints is a string, remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [5]:
df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"], errors="coerce")
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
df["number_of_open_complaints"] = pd.to_numeric(df['number_of_open_complaints'], errors="coerce")

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values. 

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

In [7]:
print("Null values before cleaning:", df.isna().sum())
df.dropna(inplace=True)
print("Null values after cleaning:", df.isna().sum())

Null values before cleaning: customer                     2937
state                           0
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Null values after cleaning: customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

Save the cleaned dataset to a new CSV file for further analysis.

In [8]:
print("Sum of duplicated values before dropping them:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Sum of duplicated values after dropping them:", df.duplicated().sum())
df.to_csv("file1_cleaned.csv", index=False)

Sum of duplicated values before dropping them: 0
Sum of duplicated values after dropping them: 0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [13]:
%load_ext autoreload
%autoreload 2

import untitled
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = untitled.main_function(url)
print(df.head())

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Null values before cleaning: customer                     2937
state                           0
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Null values after cleaning: customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64
Sum of duplicated values before dropping them: 0
Sum of duplicated values after dropping them: 0
  customer       state gender             education  customer_lifetime_value  \
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65
5  OC83172      Oregon      F              Bachelor                825629.78

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto
5  62902.0                  69.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
5   Two-Door Car          159.383042

# Bonus: Challenge 3: analyzing clean and formated data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [14]:
# Define the conditions
high_policy_claims = df["total_claim_amount"] > df["total_claim_amount"].quantile(0.75)
low_customer_lifetime_value = df["customer_lifetime_value"] < df["customer_lifetime_value"].quantile(0.25)

# Combine the conditions
combined_condition = high_policy_claims & low_customer_lifetime_value

# Filter the DataFrame based on the combined condition
filtered_df = df[combined_condition]

# Display the filtered DataFrame
filtered_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,Cali,F,College,394524.16,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,F,Bachelor,245019.10,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,F,Bachelor,394637.21,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,F,Bachelor,309003.41,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,F,Bachelor,393900.64,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945
62,FG63582,Oregon,F,Bachelor,333976.49,0.0,94.0,0.0,Personal Auto,Two-Door Car,863.327324
135,MS41162,AZ,F,High School or Below,402296.35,0.0,117.0,0.0,Personal Auto,SUV,975.107098
140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
160,ND87334,California,M,High School or Below,228759.69,0.0,63.0,0.0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,M,College,241313.97,27501.0,63.0,0.0,Personal Auto,Four-Door Car,542.319401
184,AB13432,California,M,Bachelor,373583.81,0.0,110.0,0.0,Personal Auto,SUV,792.000000
204,FL34139,California,M,High School or Below,368811.09,0.0,63.0,3.0,Personal Auto,Four-Door Car,669.682001
250,IA63417,Arizona,F,High School or Below,400151.91,19782.0,108.0,0.0,Personal Auto,Two-Door Car,773.470977
269,VZ51506,Arizona,F,High School or Below,359531.29,0.0,103.0,0.0,Corporate Auto,Luxury,741.600000
279,OH60605,Oregon,F,High School or Below,365253.24,39679.0,92.0,0.0,Personal Auto,Two-Door Car,641.388616
304,RR77985,Oregon,F,Bachelor,288774.23,0.0,80.0,0.0,Personal Auto,Four-Door Car,676.944023
388,JF36291,California,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
415,ZF84449,Oregon,F,College,372672.80,0.0,112.0,1.0,Special Auto,Luxury,806.400000
448,NL93182,Nevada,M,Bachelor,254945.00,0.0,78.0,0.0,Corporate Auto,Four-Door Car,845.654042
450,WE68644,Oregon,F,Bachelor,380392.18,20325.0,100.0,0.0,Personal Auto,Luxury,668.293970
467,AU96286,Oregon,F,Bachelor,316765.84,0.0,92.0,0.0,Corporate Auto,Four-Door Car,662.400000
486,FY51713,AZ,F,Bachelor,357076.05,56168.0,88.0,0.0,Personal Auto,Four-Door Car,614.675906
500,XN11823,Nevada,F,Bachelor,376446.51,92600.0,94.0,0.0,Corporate Auto,Two-Door Car,842.437850
502,PX17116,Nevada,M,College,362345.42,0.0,111.0,2.0,Corporate Auto,SUV,1171.931170
565,XS12556,California,F,College,368309.99,0.0,101.0,0.0,Corporate Auto,Luxury,564.466556
590,UK41984,Arizona,F,Doctor,383960.61,0.0,112.0,2.0,Personal Auto,SUV,537.600000
593,ZK21724,Oregon,F,High School or Below,401654.20,0.0,111.0,0.0,Personal Auto,SUV,799.200000
638,DM95829,California,M,College,252395.96,16244.0,68.0,0.0,Personal Auto,Two-Door Car,623.223617
645,JA41698,Nevada,M,Bachelor,309953.80,0.0,102.0,5.0,Corporate Auto,SUV,862.762957
669,ED50963,California,F,High School or Below,268886.40,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
709,NZ15548,Oregon,M,Bachelor,402381.44,41833.0,103.0,0.0,Personal Auto,Four-Door Car,643.826716
788,TE13577,Oregon,F,College,231973.59,0.0,64.0,0.0,Personal Auto,Four-Door Car,632.715382
853,TV25678,WA,M,College,354090.43,0.0,101.0,0.0,Personal Auto,SUV,727.200000
891,KJ87930,Cali,F,Bachelor,388650.48,0.0,112.0,0.0,Corporate Auto,SUV,1185.988301
908,XM72420,Arizona,F,High School or Below,391936.67,66676.0,97.0,0.0,Personal Auto,Four-Door Car,558.099357
949,TD10493,Oregon,F,High School or Below,289873.27,0.0,96.0,4.0,Personal Auto,Four-Door Car,691.200000
1019,OT52034,Cali,M,Bachelor,386477.68,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
1022,UI73201,Cali,M,College,366737.50,62375.0,92.0,0.0,Personal Auto,Two-Door Car,618.630955
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000

In [ ]:

# Define the conditions
high_policy_claims = df["total_claim_amount"] > df["total_claim_amount"].quantile(0.75)
low_customer_lifetime_value = df["customer_lifetime_value"] < df["customer_lifetime_value"].quantile(0.25)

# Combine the conditions
combined_condition = high_policy_claims & low_customer_lifetime_value

# Filter the DataFrame based on the combined condition
filtered_df = df[combined_condition]

# Display the filtered DataFrame
filtered_df